/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	text-decoration none
	
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	color Gris
	font-size 1.3em
	

h1, h2, h3
	font-family $Varela
	color darken($Naranja, 30%)
	

