/*
-Deben ser elementos por default que lucirán igual en todo el sitio, Es .
-Ningún estilo de estos elementos selectores deberá usar !important.
-No usar selectores tipo class o id.
*/

	
a
	color #ff5599
	text-decoration none
	 
	&:hover
		text-decoration underline
		
	img
		border 0
	
body
	color Gris
	font-size 1.6rem
	

h1, h2, h3
	font-family Varela 
	color darken(#ff5599, 30%)
	

main
	center()
section
	cf()
	col(1/2.2, 0.02)
	transition all ease-in-out 0.3s
	
	article
		col(1/3.3)
		padding 0.15rem
		transition all ease-in-out 0.3s