.btn-cargar-mas
	background-color $azul !important
	color #fff !important
	display block
	font-size 1.5em
	margin 1em auto
	vertical-align middle
	
	&:hover
		background-color darken($azul, 40%) !important

.btn-primary
	background-color $azul
	

	&:hover
		background-color darken($azul, 40%)
		