.btn-cargar-mas
	background-color $Azul !important
	color #fff !important
	font-size 1.5em
	display block
	vertical-align middle
	margin 1em auto
	
	&:hover
		background-color darken($Azul, 40%) !important

.btn-primary
	background-color $Azul
	

	&:hover
		background-color darken($Azul, 40%)
		