header
	center()
	
	nav
		center(70%)
		

		ul
			list-style-type none
			margin 0
			padding 0
		
			li
				border-left 1px solid #fff
				border-right @border-left
				span(1/5.1)
				
				a
					color #fff
					display block
					padding 0.25rem
					text-align center
					width 100%
