.nav
	&-tabs
		li
			background-color Naranja
			border none
			color #fff
			

			&.active
				a
					background-color lighten(Naranja, 20%)
					border none
					color #fff
					
					&:hover
						background-color Naranja