// @stylint off
/*

En este archivo se declaran los colores, las fonts y sus variaciones

las variables se deben declarar con $ al inicio del nombre de la variable

*/

//Paleta de colores del proyecto

$amarillo       = #ffc200
$amarillooscuro = darken($amarillo, 30%) 
$azul           = #3973bf
$azulclaro      = lighten($azul, 30%)
$gris           = #434343
$naranja        = #f79529
$rojo           = #e10d37
$verde          = #1fa042


/*pueden encontrar más funciones para mezclas y manejo de color acá:
https://learnboost.github.io/stylus/docs/bifs.html*/

//Fonts
$roboto = 'roboto', sans-serif
$varela = 'varela round', sans-serif

//font weights
$light  = 300
$normal = 400
$bold   = 700


//site grid spacing and width
$gutter            = 0.5rem
$site-width         = 110rem

// @stylint on