//Footer

footer
	h5 Footer Content


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if debug == true
	script(src='js/libs/jquery.js')
	script(src='js/libs/bootstrap.min.js')
	script(src='js/frontend-brm.js')

else
	script(src="js/libs.frontend-brm.min.js")
	script(src='js/frontend-brm.js')
	script(src='js/validarForm.js')