//Menu
div.col-lg-12.col-md-12.col-sm-12.col-xs-12
	nav.bar
		ul#navegacion.nav.nav-tabs

			if titulo === "Home"
				li.active
					a(href="#") Home

				li
					a(href="interna.html") Interna


			if titulo === "Interna"
				li
					a(href="index.html") Home

				li.active
					a(href="interna.html") Interna
///-Menu