//-mixins PUG
include partials/mixins
doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="es-CO"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="es-CO"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="es-CO"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="es-CO"> <!--<![endif]-->
head
	meta(charset='utf-8')
	block title
		title BlockTitle
	block description
		meta(name="description" content="Meta description Ready" )
	meta(http-equiv='X-UA-Compatible', content='IE=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	
	if debug == true
		link(rel='stylesheet', href='css/bootstrap.min.css')
		link(rel='stylesheet', href='css/style.css')

	else
		//-El nombre del archivo se debe reemplazar por el atributo name del package.json
		link(rel='stylesheet', href='css/'+name+'.min.css') 

	// Web Fonts
	link(href='http://fonts.googleapis.com/css?family=Varela+Round|Roboto:400italic,300,700,400' rel='stylesheet' type='text/css')

	<!--[if lt IE]>
	<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]--> 
	
	//- Modernizr para tener compatilibidad de elementos semánticos HTML5
	//- & para identificar si el browser soporta css3 para generar reglas especificas en los casos que no soporte una propiedad 
	script(src='js/libs/modernizr-2.6.2.min.js')

body
		
	//-Layout del header (logo, menu, login, etc)

	include partials/header
	
	
	//-Este bloque es para el markup de cada HTML
	block content
			

	//- Layout del Footer
	include partials/footer
	
	//-Acá se agregan los scripts que pueden estar para una sola página
	block Scripts


</html>