//Footer

footer.container-fluid
	div.row
		div.col-lg-12
			h5.block-center.text-center Footer Content


///-Footer

//Scripts
//-Estos son los scripts que van en todos los htmls del desarrollo
if !production
	script(src='assets/js/libs/jquery.js')
	//-Este arreglo imprime todos los js que se declaren en arreglo jsLibs en gulpfile.js:70
	-for(x =0; x < libs.length; x++)
		script(src=libs[x])


else
	script(src='assets/js/libs/jquery.js')
	script(src='assets/js/libs.min.js')
	//- script(src='js/gv.validate.js')