//IE support
@import 'nib/vendor'
@import 'nib/gradients'
//Esto hace que exporte los estilos css3 con soporte para oldIE
vendor-prefixes = ms official


//Grid Framework
@import 'jeet'
//Variables y funciones, se deben declarar primero que el resto de archivos para poderlos utilizar
@import "modules/variables"
@import "modules/funciones"

//Layout
@import "modules/base"
@import "modules/buttons"
@import "modules/breadcrumbs"
@import "modules/menu"
@import "modules/footer"


@import "modules/utilities"
// @import "modules/animations"
// @import "modules/keyframes"
// @import "modules/media-queries"
