//-Layout Base
extends partials/base.jade

//-Etiqueta Title
block title
	- var seccion = "Demo"
	- var titulo = "Home";
	
	title Ejemplo de meta title | #{titulo}

//-Etiqueta Metadescription
block description
	meta(name="description", content="Frontend BRM" )


block content

	section
		h1 Hello it's me

		-for(x=0; x < 3; x++)

			article
				p.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum minus recusandae nobis alias blanditiis architecto enim unde quasi, rem ullam in necessitatibus eveniet, error expedita, doloribus ratione aspernatur dolore veritatis!
		


	
	

block Scripts
	script(src='https://apis.google.com/js/platform.js')

